<p id="notice"><%= notice %></p>

<h1><%= @book.name %></h1>

<p>
  <%= @book.description %>
</p>

<%= image_tag @book.cover.url, style: "max-width: 330px;" if @book.cover? %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
